src/libnhopkg.in.*
src/nhopkg.conf.in.*
src/nhopkg.in.*
src/nhopkg-overlay.in.*
src/nhopkg-repos.in.*
src/nhouser.in.*
src/*.patch
src/*.diff
AGENTS.md
build
builddir
*.po~
PROPOSAL-*
docs/PROPOSAL-*
